body{
	background-image:url('img1.jpeg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:0;
}
h1{
	width:100%;
	color:green;
	text-align:center;
	text-shadow:1px 2px gray;
	font-family:lato;
	font-size:50px;
}
h2{
	width:100%;
	color:white;
	text-align:center;
	text-shadow:1px 2px gray;
	font-family:lato;
	font-size:25px;
	margin-top:40px;
}

.headings{
	font-family:lato;
	width:350px;
	height:100%;
	overflow-x:hidden;
	position:fixed;
	padding-top:30px;
	
	
}
.headings a{
	padding:16px 8px 8px 16px;
	display:block;
	color:black;
	text-decoration:none;
	font-size:25px;
	
}
.headings a:hover{
	background-color:gray
}
p{
	width:100%;
	color:black;
	text-align:center;
	text-shadow:1px 2px gray;
	font-family:lato;
	font-size:25px;
	margin-top:40px;
}

footer{
	margin-top:380px;
	text-align:center;
	font-family:lato;
	font-size:25px;
}